<p>You have chosen to reset your password for feedingreader.com with email: <%= @email %></p>

<p>
  To reset your password, enter this code:
  <div><%= @code %></div>
  here: <%= @url %>
</p>

<p>Thanks and have a great day!</p>