<h1>You have chosen to reset your password for feedingreader.com with email: <%= @user.email %></h1>

<p>
  To reset your password, enter this code: <%= @code %> at this url: <%= @url %>
</p>

<p>Thanks and have a great day!</p>